/* Styling for maps creative */ 

/*Styling for initial state */
button {
  background: rgba(0,0,0,0.5);
  border: 1px solid rgba(255,255,255,0.5);
  border-right: 0;
  box-sizing: content-box;
  color: #fff;
  font-size: 18px;
  line-height: normal;
  min-width: 0;
  padding: 10px 6px 8px 10px;
  width: auto;
  text-align: center;
  transition: opacity .5s cubic-bezier(0.0,0.0,0.2,1);
  text-shadow: 0 0 4px rgba(0,0,0,0.75);
  cursor: pointer;
}

button:hover {
  background: rgba(0,0,0,0.7);
}

#findNearest{
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 15px;
}

.hidden {
  visibility: hidden;
}

#travelMethod {
  padding: 4px;
  background: rgba(0,0,0,0.5);
  border: 1px solid rgba(255,255,255,0.5);
  color: white;
  font-size: 18px;
  margin-left: 11px;
  top: 60px;
  position: absolute;
}

#timeDisplay {
  position: absolute;
  top: 65px;
  right: 200px;
  padding: 5px;
  border: 1px solid black;
  background-color: rgba(0,0,0,0.6);
  color: white;
  max-width: 110px;
  text-align: center;
  transition: opacity .5s cubic-bezier(0.0,0.0,0.2,1);
  text-shadow: 0 0 4px rgba(0,0,0,0.75);
  font-size: 16px;
}

#returnToAd {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 15px;
}

#skipAd {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 15px;
  padding-right: 30px;
  padding-left: 30px;
}

/*Allows map to display*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*
* Display the map in the center of the iframe, 
* scaled to allow button display
*/
#map {
  height: 90%;
  width: 100%;
  margin: auto;
  top: 180px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  zoom: 1.15;
  overflow: visible !important;
}

.gm-style-mtc {
  top: 2px;
}

div.gm-style-mtc div {
  padding: 0px 12px !important;;
}

div.gm-svpc {
  top: 165px !important;
}

div.gmnoprint {
  top: 50px;
}

div.gmnoprint div {
  position: inherit;
}